<!DOCTYPE html>
<html>

<body>
<script src="C:\Study\angular\angular.min.js"></script>
<div ng-app="level1" ng-controller="level1ctrl" ng-init="variable1=['this','is','part','of','ng-init']">
 
<p>What's the best name to call you?&nbsp; <input type="text" ng-model="name"></p>
<p>{{name}}</p>
<p>Enter a number &nbsp;<input type="number" ng-model="number1"></p>
<p>Enter another number &nbsp;<input type="number" ng-model="number2"></p>
<p>Just summing up the numbers &nbsp; {{number1+number2}}</p>
<ul>
<li ng-repeat="x in variable1">
{{x}}
</li>
</div>
<script src="level1.js"></script>
<script src="level1ctrl.js"></script>

</body>
</html>